@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:#f0fdf4;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #10b981;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
  margin: 4rem auto 7rem;
  text-align: center;
  margin:auto;
}

.heading {
  color: var(--primary-color);
  padding: 1rem;
}

p {
  font-size: larger;
  margin: 1rem;
}

label {
  display: block;
  font-size: large;
  font-weight: 600;
}

.input {
  font-size: 1rem;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: auto;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  max-width: 50%;
  margin-bottom: 20px;
}

#check-btn {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  display: block;
  max-width: 20%;
  margin:auto;
}

#error-msg {
  display: block;
  font-size: larger;
  margin: 1rem 0 0;
}

/* Table */
.change-table {
  width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
}

.change-table caption {
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
}

th,
td {
  border: 2px solid var(--primary-color);
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
}

